:root {
    background: rgb(30, 31, 34);
    color: #fff;
}

.app {
    width: 100vw;
    height: 100vh;
    color: #fff;
    background: rgb(30, 31, 34);
    display: flex;
}

.server-list {
    background: #1e1f22;
    width: 72px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.server-item {
    cursor: pointer;
}

.server-item > img {
    transition: .25s ease-out border-radius, .25s ease-out box-shadow, .25s ease-out background;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    object-fit: cover;
    background: transparent;
}

.server-item.active > img, .server-item:hover > img {
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 0 0 2px #fff;
}

.channel-list {
    background: #2b2d30;
    width: 240px;
}

.channel-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.channel-item {
    height: 32px;
    border-radius: 5px;
    padding: 5px;
    color: rgb(148, 155, 164);
    font-size: 16px;
    font-weight: 500;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.channel-item:hover {
    background: #404249;
    color: #dcdee1;
}

.channel-item.active {
    background: #404249;
    color: #fff;
}

.channel-item > .icon-tag {
    margin: 0 2px;
    width: 20px;
    height: 20px;
}

.server-title, .channel-title {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px #111;
    font-weight: 700;
    font-size: 16px;
    height: 48px;
    flex: 0 0 48px;
}

.server-title {
    padding: 0 25px;
}

.channel-title {
    padding: 0 10px;
}

.channel-title > .icon-tag {
    margin: 0 5px;
    width: 24px;
    height: 24px;
}

.message-view {
    background: #313338;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.message-items {
    padding: 0 10px;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
